body {
    background: linear-gradient(to bottom, rgba(223, 133, 15, 0.5), rgba(223, 133, 15, 0.9));
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;

     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .main-container {
     display: flex;
     gap: 80px; 
 }

 .container {
     width: 600px;
     height: 500px;
     background-color: antiquewhite;
     border-radius: 20px;
     padding: 20px;
     box-sizing: border-box;
 }

 .input-section {
     margin-bottom: 20px;
     margin-left: 20px;
 }

 .input-section input {
     width: 70%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 .input-section textarea {
     resize: vertical;
     height: 70px;
     width: 90%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 

 
.task-list {
max-height: 400px; 
overflow-y: auto; 
padding-right: 10px; 
}

.button-section {
    margin-left: 100px;
    display: flex;
    gap: 30px;
}

button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none; 
    background-color: #007BFF; 
    color: white; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

button:active {
    background-color: #004080; 
    transform: scale(0.95); 
}


button.toggle.pending {
    background-color: #28a745 ; 
    color: black;
}

button.toggle.completed {
    background-color:  #ebef17; 
    color:black;
}

button.toggle.pending:hover {
    background-color: #218838; 
}

button.toggle.completed:hover {
    background-color:  #f3d708; 
}

button.delete {
    background-color: #dc3545; 
}

button.edit {
    background-color: #FF9800; 
    color: black; 
}


button.delete:hover {
    background-color: #c82333; 
}

button.edit:hover {
    background-color: #FFA500; 
}